.flex {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    transition: 300ms ease all;
}

img {
    width: 24rem;
    border: solid black;
}

a {
    text-decoration: none;
}

h1 {
    font-family: helvetica;
    color: black;
    font-size: 8rem;
    margin-bottom: 0;
}

p {
    font-family: helvetica;
    color: black;
    font-size: 6rem;
}


.flex:hover {
    transform: translateY(2rem);
    background-color: mistyrose;
}

.sub {
    margin-top: 0;
}

@media only screen and (max-width: 900px) {
    p {
        font-size: 400%;
    }
    
    img {
        width: 50%;
        height: 50%;
    }
  }